/* FORMULARIS */
/* FORMULARIS */
.formulari {
  height: 26px;
  border: none;
}
html body a {
  color: #6183d3;
}
html body a:hover {
  color: inherit;
}
body {
  background: url(../img/fondo-a-bn.jpg) no-repeat;
  background-size: cover;
  background-color: #ccc!important;
}
#main-article {
  height: 500px;
}
header {
  font-family: 'Expletus Sans', cursive;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}
header h1 {
  color: white;
  font-size: 48pt;
  margin: 0;
  line-height: 80px;
  position: relative;
  top: 18px;
  display: inline;
}
header img.logo {
  position: absolute;
  top: 26px;
  left: 244px;
}
header #main-header {
  border-bottom: 1px solid white;
  position: relative;
  margin-top: 15px;
  /*        margin-left:@gap;
        margin-right:@gap;*/

}
header #main-header div.logo {
  width: 300px;
}
header #main-header div.logo a {
  text-decoration: none;
  cursor: pointer;
}
header #main-header nav {
  display: inline-block;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}
header #main-header nav ul {
  list-style-type: none;
  height: 100%;
  overflow: auto;
  margin: 0;
}
header #main-header nav ul li {
  float: left;
  margin-right: 5px;
  padding: 0 15px;
}
header #main-header nav ul li.active a {
  color: white;
}
.full-width {
  padding: 15px 15px 0 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.nou-usuari {
  text-align: right;
}
#cuadre-central {
  padding: 30px 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  background: #445275;
  /* Old browsers */

  background: -moz-linear-gradient(top, #445275 0%, #223c79 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #445275), color-stop(100%, #223c79));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #445275 0%, #223c79 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #445275 0%, #223c79 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #445275 0%, #223c79 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #445275 0%, #223c79 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#445275', endColorstr='#223c79', GradientType=0);
  /* IE6-9 */

}
#cuadre-central p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
}
#cuadre-central p:nth-child(2),
#cuadre-central p:nth-child(4) {
  margin-top: 13px;
}
#main-article p.benvingut {
  font-family: 'Expletus Sans', cursive;
  font-size: 28px;
}
#main-article div.anunci {
  height: 435px;
  background: rgba(0, 128, 128, 0.9);
  color: white;
  font-family: 'Expletus Sans', cursive;
  font-size: 13px;
}
#main-article div.anunci p {
  padding: 6px;
  text-align: center;
}
#main-article div.anunci p img {
  display: block;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
#main-article div.anunci ul {
  padding: 17px;
  list-style-position: inside;
  font-size: 12px;
}
/* 

    FORMULARI 

*/
form.login-form {
  display: block;
  /*height: 250px;*/

  font-family: 'Expletus Sans', cursive;
  /*margin:7px 0;*/

}
form.login-form input[type="submit"] {
  background: cornflowerblue;
  width: 28%;
  border: none;
  height: 26px;
  /*padding: 0 24px;*/

  text-align: center;
  color: white;
}
form.login-form input[type="submit"]:hover {
  background: #333333;
  color: white;
}
form.login-form input[type="text"],
form.login-form input[type="password"] {
  width: 34%;
  padding-left: 4px;
  border: none;
  height: 26px;
}
form#client-form,
form#administrador-form {
  display: block;
  font-family: 'Expletus Sans', cursive;
}
form#client-form table,
form#administrador-form table {
  border-spacing: 3px;
  border-collapse: separate;
  width: 100%;
}
form#client-form table td p,
form#administrador-form table td p {
  padding: 22px 0 0;
}
form#client-form table td p.dades,
form#administrador-form table td p.dades {
  border-bottom: 4px solid grey;
}
form#client-form table td p.cotxe,
form#administrador-form table td p.cotxe {
  border-bottom: 4px solid grey;
}
form#client-form table td p.facturacio,
form#administrador-form table td p.facturacio {
  border-bottom: 4px solid grey;
}
form#client-form table td:nth-child(2),
form#administrador-form table td:nth-child(2) {
  width: 33.33%;
}
form#client-form input[type="text"],
form#administrador-form input[type="text"],
form#client-form input[type="password"],
form#administrador-form input[type="password"] {
  padding-left: 4px;
  width: 100%;
  height: 26px;
  border: none;
  /*margin:4px 0;*/

}
form#client-form input[type="checkbox"],
form#administrador-form input[type="checkbox"] {
  position: relative;
  top: 3px;
}
form#client-form select,
form#administrador-form select {
  height: 26px;
  border: none;
  width: 100%;
}
form#client-form .politica,
form#administrador-form .politica {
  text-align: center;
}
form#client-form input[type="submit"],
form#administrador-form input[type="submit"] {
  background: cornflowerblue;
  margin-top: 20px;
  border: none;
  height: 26px;
  text-align: center;
  color: white;
  float: right;
}
form#client-form input[type="submit"]:hover,
form#administrador-form input[type="submit"]:hover {
  background: #333333;
  color: white;
}
/*
    footer
*/
footer {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer p {
  padding: 4px 0;
  text-align: center;
  font-size: 10px;
  margin: 0;
}
.clearer {
  clear: both;
}
